# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env

# Database
*.db

# Outputs
output/*.csv

# Generated charts
output/_charts/

# Generated PDFs
output/tearsheets/
output/sector/
output/portfolio/

# Generated reports
output/reports/

# Temporary Excel files
~$*.xlsx

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/